In [15]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import gmaps

# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

# Import API key
from gconfig import geoapify_key
# Configure gmaps
gmaps.configure(geoapify_key)

# Target city 

target_url = f'https://maps.googleapis.com/maps/api/geocode/json?''address=(target_city)&key={gkey}
target_url

SyntaxError: EOL while scanning string literal (116141332.py, line 18)

In [7]:
# Import the WeatherPy_database.csv file. 
# YOUR CODE HERE
file_path = "../Weather_Database/WeatherPy_database.csv"
# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
# Display sample data
# YOUR CODE HERE
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Narino,-3.7703,-70.3831,75.04,95,80,1.74,moderate rain
1,1,Inhambane,-23.8650,35.3833,80.71,78,98,14.45,overcast clouds
2,2,Tura,25.5198,90.2201,56.62,52,5,3.38,clear sky
3,3,Kapaa,22.0752,-159.3190,81.48,70,40,4.61,scattered clouds
4,4,Rikitea,-23.1203,-134.9692,79.70,76,3,16.17,clear sky

In [9]:
# Prompt the user to enter minimum and maximum temperature criteria.
# YOUR CODE HERE
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc method.
# YOUR CODE HERE
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
# YOUR CODE HERE
preferred_cities_df.head(1)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Narino,-3.7703,-70.3831,75.04,95,80,1.74,moderate rain